@import 'react-toastify/dist/ReactToastify.css';
@import '../../../node_modules/bootstrap/scss/bootstrap';// Import Bootstrap
@import '../../../custom.scss';

// Logo size adjustments for mediumer screens
.logo {
  width: 50px;
  height: 50px;

  @include breakpoint-down(medium) {
    width: 30px;
    height: 30px;

    .h1{
      font-size: 160px;
    }
  }
}

// Navbar adjustments for mediumer screens
.navbar-nav {
  font-size: 16px;
  font-weight: bolder;
  display: flex; /* Ensure the navbar links are displayed in a row */
  align-items: center; /* Center the items vertically */
  
  @include breakpoint-down(medium) {
    padding: 0;
    margin: 0;
    font-size: 20px;
    background-color: $secondary;
    .nav-item {
      .nav-link {
        padding-inline-end: 0;
      }
    }
  }

  .nav-item {
    margin-right: 10px; /* Adjust spacing between navbar items */
    .nav-link {
      &:hover {
        @include breakpoint-down(medium) {
          border-bottom: none;
        }
      }
    }
  }
}


// Navbar toggler button size adjustments for mediumer screens
button.navbar-toggler {
  font-size: 15px;
  @include breakpoint-down(medium) {
    font-size: 10px; // Adjust as needed
  }
}
.navbar{
  z-index: 1;
}