@import '../../../node_modules/bootstrap/scss/bootstrap';// Import Bootstrap
@import '../../../custom.scss';

.wrappers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F0F8;
    padding: 80px;
    flex-wrap: wrap;

    @include breakpoint-down(medium){
      padding-bottom: 0;
      padding: 35px;
    }
  
    &__about,
    &__mission {
      width: 100%; 
      max-width: 515px; 
      padding: 0 20px; 
      box-sizing: border-box;
        &-subheading{
            color: #232536;
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 3px;
            text-transform: uppercase;  
            padding-bottom: 24px;      
        }
        &-heading{
            color: #232536;
            font-family: Sen;
            font-size: 36px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -2px;    
            padding-bottom: 16px;        
        }
        &-desc{
            color: #6D6E76;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;    
            padding-bottom: 16px;     
            @include breakpoint-down(medium){
              padding-bottom: 0;
            }
        }
    
    }
    @include breakpoint('medium') {
        padding: 80px 40px; // Increase padding for medium-sized screens
      }
    
      @include breakpoint('large') {
        padding: 80px 60px; // Increase padding for large-sized screens
      }
    
      @include breakpoint('xlarge') {
        padding: 80px 80px; // Increase padding for extra-large-sized screens
      }
    
      @include breakpoint-down('medium') {
        .wrappers__about,
        .wrappers__mission {
          padding: 0; // Remove padding for small screens
        }
      }
    }