.listing-post{
    width: 517px;
    height: 175px;
    padding: 12px;
        .h1{
            color: #232536;
            font-family: Sen;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;       
        }   
        
    &:hover{
        background: #FBF6EA;
    }        
}