@import '../../../node_modules/bootstrap/scss/bootstrap';// Import Bootstrap
@import '../../../custom.scss';

.imgWrapper {
    width: 1280px;
    height: 705px;
    flex-shrink: 0;
    position: relative;
    @include breakpoint-down(medium){
        width: 840px;
        height: 353px;
    }

    &__groupimg {
        img {
            width: 949px;
            height: 705px;
            @include breakpoint-down(medium){
                width: 479px;
                height: 352px;
            }
        }
    }

    &__contents {
        width: 716px;
        height: 584px;
        position: absolute;
        top: 121px;
        left: 574px;
        background-color: white;
        padding: 80px;

        @include breakpoint-down(medium){
            width: 358px;
            height: 292px;
            top: 250px;
            left: 67px;
            padding: 30px;
        }

        &-theme{
            color: #232536;
            padding-bottom: 24px;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 3px;
            text-transform: uppercase;    
            
            @include breakpoint-down(medium){
                line-height: 10px;
                letter-spacing: normal;
            }
        }
        &-heading{
            width: 546px;
            color: #232536;
            font-family: Sen;
            font-size: 48px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -2px;      
            padding-bottom: 16px;   
            
            @include breakpoint-down(medium){
                width: 273px;
                font-size: 22px;
                line-height: normal;
                padding-bottom: 8px;
            }
        }
        &-descrip{
            width: 546px;
            color: #6D6E76;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;     
            padding-bottom: 16px;  
            @include breakpoint-down(medium){
                width: 273px;
                font-size: 12px;
                line-height: 19px;
                padding-bottom: 8px;
            }   
        }
    }
}
